footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  padding-bottom: 10px;
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
  background-color: white;
}

.footer-block {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 25px 25px 25px;
  cursor: pointer;
}

.footer-icons__desc {
  margin-top: 5px;
  font-size: 10px;
}

@keyframes icons-float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer-icons__img {
  width: 30px;
}

.footer-icons:hover .footer-icons__img {
  animation: 2s icons-float;
}
